#root{
    width:100%;
    height:100%;
    .app-container{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        .top-menu{

        }
        .main{
            display: flex;
            flex:1;
            .tree-menu{
                overflow: auto;
                min-width:230px;
            }

            .main-content{
                flex:1;
            }
        }
    }
}

